@import "libs/vars";
@import "libs/functions";
@import "libs/mixins";
@import "libs/vendor";
@import "libs/breakpoints";
@import "libs/html-grid";
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,900");

$pattern-background-size: 25em;

// Breakpoints.

@include breakpoints(
  (
    wide: (
      1281px,
      1680px,
    ),
    normal: (
      981px,
      1280px,
    ),
    narrow: (
      841px,
      980px,
    ),
    narrower: (
      737px,
      840px,
    ),
    mobile: (
      null,
      736px,
    ),
  )
);

// Reset.
// Based on meyerweb.com/eric/tools/css/reset (v2.0 | 20110126 | License: public domain)

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;

  &:before,
  &:after {
    content: "";
    content: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

mark {
  background-color: transparent;
  color: inherit;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input,
select,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

/* Basic */

// Set box model to border-box.
// Based on css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #fff;

  // Stops initial animations until page loads.
  &.is-preload {
    *,
    *:before,
    *:after {
      @include vendor("animation", "none !important");
      @include vendor("transition", "none !important");
    }
  }
}

body,
input,
select,
textarea {
  color: _palette(fg);
  font-family: "Lato", sans-serif;
  font-size: 15pt;
  font-weight: 300;
  letter-spacing: 0.025em;
  line-height: 1.75em;
}

a {
  @include vendor("transition", ("color 0.2s ease-in-out", "border-color 0.2s ease-in-out", "background-color 0.2s ease-in-out"));
  color: darken(_palette(one, bg), 20);
  text-decoration: none;
  border-bottom: dotted 1px;

  &:hover {
    border-bottom-color: transparent;
  }
}

strong,
b {
  font-weight: 400;
}

p,
ul,
ol,
dl,
table,
blockquote {
  letter-spacing: 1.35px;
  margin: 0 0 2em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-weight: 300;
  line-height: 1.75em;
  margin-bottom: 1em;
  text-transform: uppercase;

  a {
    color: inherit;
    text-decoration: none;
    border: 0;
  }
}

h2 {
  font-size: 1.5em;
  letter-spacing: 0.1em;
}

h3 {
  font-size: 1.15em;
  letter-spacing: 0.025em;
}

sub {
  font-size: 0.8em;
  position: relative;
  top: 0.5em;
}

sup {
  font-size: 0.8em;
  position: relative;
  top: -0.5em;
}

hr {
  border-top: solid 1px _palette(border);
  border: 0;
  margin-bottom: 1.5em;
}

blockquote {
  border-left: solid 0.5em _palette(border);
  font-style: italic;
  padding: 1em 0 1em 2em;
}

.d-flex {
  display: flex;
}

.position-relative {
  position: relative;
}

/* Container */

.container {
  margin: 0 auto;
  max-width: 100%;
  width: 1400px;

  &.medium {
    width: (1400px * 0.75);
  }

  @include breakpoint("<=wide") {
    width: 1200px;

    &.medium {
      width: (1200px * 0.75);
    }
  }

  @include breakpoint("<=normal") {
    width: 960px;

    &.medium {
      width: (980px * 0.75);
    }
  }

  @include breakpoint("<=narrow") {
    width: 95%;

    &.medium {
      width: (95% * 0.75);
    }
  }

  @include breakpoint("<=narrower") {
    width: 95%;

    &.medium {
      width: 95%;
    }
  }

  @include breakpoint("<=mobile") {
    width: 100%;

    &.medium {
      width: 100%;
    }
  }
}

/* Row */

.row {
  @include html-grid((50px, 50px));

  @include breakpoint("<=wide") {
    @include html-grid((40px, 40px), "wide");
  }

  @include breakpoint("<=normal") {
    @include html-grid((40px, 40px), "normal");
  }

  @include breakpoint("<=narrow") {
    @include html-grid((30px, 30px), "narrow");
  }

  @include breakpoint("<=narrower") {
    @include html-grid((30px, 30px), "narrower");
  }

  @include breakpoint("<=mobile") {
    @include html-grid((30px, 30px), "mobile");
  }
}

/* Section/Article */

section,
article {
  &.special {
    text-align: center;
  }
}

header {
  &.major {
    padding-bottom: 2em;
  }

  &.special {
    margin-bottom: 5em;
    padding-top: 7em;
    position: relative;
    text-align: center;

    &:before,
    &:after {
      border-bottom: solid 1.5px;
      border-top: solid 1.5px;
      content: "";
      height: 7px;
      opacity: 0.1;
      position: absolute;
      top: 1.75em;
      width: 43%;
    }

    &:before {
      left: 0;
    }

    &:after {
      right: 0;
    }

    h2 {
      margin-bottom: 0;
    }

    .icon {
      cursor: default;
      height: 7em;
      left: 0;
      position: absolute;
      text-align: center;
      top: 1em;
      width: 100%;

      &:before {
        font-size: 3.5em;
        opacity: 0.35;
      }
    }
  }
}

footer {
  > :last-child {
    margin-bottom: 0;
  }

  &.major {
    padding-top: 3em;
  }
}

/* Form */

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  @include vendor("transition", ("background-color 0.2s ease-in-out", "border-color 0.2s ease-in-out"));
  @include vendor("appearance", "none");
  background: none;
  border: solid 1px _palette(border);
  border-radius: 0;
  color: inherit;
  display: block;
  padding: 0.75em;
  text-decoration: none;
  width: 100%;
  outline: 0;

  &:focus {
    border-color: _palette(one, bg);
  }
}

input[type="text"],
input[type="password"],
input[type="email"] {
  line-height: 1em;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
  position: relative;
  top: 3px;
}

:-moz-placeholder {
  color: inherit;
  opacity: 0.5;
}

::-moz-placeholder {
  color: inherit;
  opacity: 0.5;
}

:-ms-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

/* Image */

.image {
  border: 0;
  position: relative;

  &:before {
    background: url("images/overlay.png");
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &.fit {
    display: block;

    img {
      display: block;
      width: 100%;
    }
  }

  &.featured {
    display: block;
    margin: 0 0 2em 0;

    img {
      display: block;
      width: 100%;
    }
  }
}

.center-column {
  padding: 2em 8vw 1em;
}

img.featured {
  width: 200px;
  border-radius: 50%;
  margin-bottom: 30px;
  aspect-ratio: 1 / 1;
}

/* List */

ol {
  list-style: decimal;
  padding-left: 1.25em;

  li {
    padding-left: 0.25em;
  }
}

ul {
  list-style: disc;
  padding-left: 1em;

  li {
    padding-left: 0.5em;
  }
}

/* Icons */

ul.icons {
  list-style: none;
  padding-left: 0;
  cursor: default;

  li {
    display: inline-block;
    line-height: 1em;
    padding-left: 0.5em;

    &:first-child {
      padding-left: 0;
    }
  }
}

/* Featured Icons */

ul.featured-icons {
  cursor: default;
  margin: -0.75em 0 0 0;
  opacity: 0.35;
  overflow: hidden;
  position: relative;
  list-style: none;
  padding-left: 0;

  li {
    display: block;
    float: left;
    text-align: center;
    width: 50%;
    padding-left: 0;
    margin-bottom: 1em;

    .icon {
      display: inline-block;
      font-size: 5.5em;
      height: 1em;
      line-height: 1.5em;
      width: 1em;
    }
  }
}

/* Buttons */

ul.buttons {
  cursor: default;
  list-style: none;
  padding-left: 0;

  &:last-child {
    margin-bottom: 0;
  }

  li {
    display: inline-block;
    padding: 0 0 0 1.5em;

    &:first-child {
      padding: 0;
    }
  }

  &.stacked {
    display: flex;
    align-items: end;
    justify-content: space-around;

    li {
      display: block;
      padding: 1.5em 0 0 0;

      &:first-child {
        padding: 0;
      }
    }
  }
}

/* Table */

table {
  width: 100%;

  &.default {
    width: 100%;

    tbody {
      tr {
        border-bottom: solid 1px _palette(border);
      }
    }

    td {
      padding: 0.5em 1em 0.5em 1em;
    }

    th {
      font-weight: 400;
      padding: 0.5em 1em 0.5em 1em;
      text-align: left;
    }

    thead {
      background: _palette(fg);
      color: #fff;
    }
  }
}

/* Button */

input[type="button"],
input[type="submit"],
input[type="reset"],
button,
.button {
  @include vendor("appearance", "none");
  @include vendor("transition", ("color 0.2s ease-in-out", "border-color 0.2s ease-in-out", "background-color 0.2s ease-in-out"));
  background: none;
  border: solid 1px;
  border-radius: 6vw;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8em;
  font-weight: 900;
  letter-spacing: 2px;
  padding: 0 2.75em;
  line-height: 3.75em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    background: rgba(188, 202, 206, 0.15);
    border-color: inherit;
  }

  &.primary {
    background: #169bc7;
    border-color: #169bc7;
    color: _palette(one, fg) !important;

    &:hover {
      background: lighten(_palette(one, bg), 5) !important;
      border-color: lighten(_palette(one, bg), 5) !important;
    }
  }

  &.fit {
    width: 100%;
  }

  &.small {
    font-size: 0.7em;
    min-width: 14em;
    padding: 0.5em 0;
  }
}

/* Wrapper */

.black-round-bg {
  background: rgb(40 30 27 / 98%);
  border-radius: 2vw;
  padding: 4vw !important;
}

.wrapper {
  margin-bottom: 8.5em;
  padding: 7em 6em;

  &.style1 {
    padding: 0;
  }

  &.style2 {
    background: #f9f9f9;
    // color: _palette(one, fg);
    width: 100%;
    display: flex;
    align-items: center;

    input[type="button"],
    input[type="submit"],
    input[type="reset"],
    button,
    .button {
      &:hover {
        background: rgba(255, 255, 255, 0.15) !important;
      }

      &.primary {
        background: _palette(one, fg);
        border-color: _palette(one, fg);
        color: _palette(one, bg) !important;

        &:hover {
          border-color: inherit !important;
          color: _palette(one, fg) !important;
        }
      }
    }
  }

  &.style3 {
    background: _palette(two, bg);
    color: _palette(two, fg);
  }

  &.style4 {
    background: _palette(two, bg);
    color: _palette(two, fg);
    padding: 0.25em 4em 2em;
  }
}

/* Header */

@include keyframes("reveal-header") {
  0% {
    top: -5em;
  }
  100% {
    top: 0;
  }
}

#header {
  background: _palette(header, bg);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.075);
  color: _palette(header, fg);
  cursor: default;
  font-size: 0.8em;
  left: 0;
  padding: 1em 1.5em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;

  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  h1 {
    font-weight: 900;
    margin: 0;

    span {
      font-weight: 300;
    }
  }

  &.alt img.logo {
    filter: brightness(0) invert(1);
  }

  nav {
    letter-spacing: 0.075em;
    text-transform: uppercase;

    ul {
      list-style: none;
      padding-left: 0;

      padding-right: 25px;
      margin-bottom: 0.7em;

      letter-spacing: 1.75px;

      li {
        display: inline-block;
        margin-left: 1.5em;
        padding-left: 0;

        > ul {
          display: none;
        }

        a {
          border: solid 1px transparent;
          color: inherit;
          display: inline-block;
          line-height: 1em;
          padding: 0.6em 0.75em;
          text-decoration: none;
          letter-spacing: 3px;
        }

        input[type="button"],
        input[type="submit"],
        input[type="reset"],
        button,
        .button {
          font-size: 1em;
          min-width: 0;
          width: auto;
        }

        &.submenu {
          > a {
            @include icon(false, solid);

            &:after {
              content: "▾";
              margin-left: 0.5em;
            }
          }
        }

        &.active,
        &:hover {
          > a {
            @include vendor("transition", "all 0.2s ease-in-out");
            background: rgba(188, 202, 206, 0.15);
          }
        }

        &.current {
          > a {
            font-weight: 900;
          }
        }
      }
    }
  }

  &.reveal {
    padding: 0.5em;

    @include vendor("animation", "reveal-header 0.5s");

    .logo {
      filter: contrast(1.5);
      padding-left: 1em;
    }
  }

  &.alt {
    @include vendor("animation", "none");
    background: _palette(header, alt-bg);
    box-shadow: none;
    color: _palette(header, alt-fg);

    nav {
      ul {
        background: rgba(28, 16, 16, 0.51);
        color: #fff !important;
        border-radius: 20px;

        li {
          &.active,
          &:hover {
            > a {
              border: solid 1px;
            }
          }
        }
      }
    }
  }
}

/* Dropotron */

.dropotron {
  list-style: none;
  padding-left: 0;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.075);
  line-height: 2.25em;
  min-width: 13em;
  padding: 1em 0;
  text-transform: uppercase;
  margin-top: calc(-1em + 1px);

  &.level-0 {
    font-size: 0.7em;
    font-weight: 400;
    margin-top: 1.5em;

    &:before {
      border-bottom: solid 0.5em #fff;
      border-left: solid 0.5em transparent;
      border-right: solid 0.5em transparent;
      content: "";
      left: 0.75em;
      position: absolute;
      top: -0.45em;
    }
  }

  > li {
    border-top: solid 1px _palette(border);
    padding-left: 0;

    > a {
      @include vendor("transition", "none");
      color: inherit;
      text-decoration: none;
      padding: 0 1em;
      border: 0;
    }

    &:hover {
      > a {
        background: _palette(one, bg);
        color: _palette(one, fg);
      }
    }

    &:first-child {
      border-top: 0;
    }
  }
}

/* Banner */

@include keyframes("reveal-banner") {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#banner {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  cursor: default;
  min-height: 35em;
  overflow: hidden;
  position: relative;
  text-align: center;
  background-color: #4d3f3b;
}

.full {
  height: 105vh;
}

#banner .inner {
  margin: auto;
  position: absolute;
  width: 100%;
}

#banner h2 {
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
  -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
  -ms-transition: -ms-transform 0.5s ease, opacity 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease;
  display: inline-block;
  font-size: 1.75em;
  opacity: 1;
  padding: 0.35em 1em;
  position: relative;
  z-index: 1;
}

#banner p {
  position: relative;
  letter-spacing: 0.225em;
  text-transform: uppercase;
  width: 31em;
  text-align: center;
  margin: 0 auto 1.5em;
}

#banner .more {
  transition: transform 0.75s ease, opacity 0.75s ease;

  transition-delay: 3.5s;

  transform: translateY(0);
  padding-left: 0.225em;
  width: 16em;
  z-index: 1;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8em;
  font-weight: 600;
  letter-spacing: 0.225em;
  line-height: 3.125em;
  max-width: 30em;
  padding: 0 2.75em;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 auto;
}

@media screen and (min-width: 1440px) {
  .video {
    position: fixed;
    // object-fit: fill;

    min-height: 100%;
  }
}

@media screen and (min-width: 847px) {
  .video {
    position: fixed;
    min-width: 100%;
  }
}

@media screen and (max-width: 846px) {
  .video {
    position: absolute;
    height: 100%;
    opacity: 0.3;
    top: 0;
    left: 0;
  }
}

#banner {
  //   background-color: _palette(three, bg);
  //   background: url("../../images/banner.jpg") center / cover no-repeat fixed;
  //   color: _palette(banner, fg);
  //   cursor: default;
  //   text-align: center;
  //   min-height: 90vh;
  //   padding: 13rem;

  .inner {
    @include vendor("animation", "reveal-banner 1s 0.25s ease-in-out");
    @include vendor("animation-fill-mode", "forwards");
    background: rgba(28, 16, 16, 0.51);
    color: _palette(banner, inner-fg);
    opacity: 0;
    padding: 3em;
    text-align: center;
    // height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    &.grey {
      background: rgb(36 29 29 / 71%);
    }

    header {
      display: inline-block;
      margin: 0 0 2em 0;
      padding: 3px 0 3px 0;

      h2 {
        font-size: 2.5em;
        font-weight: 900;
        letter-spacing: 0.2em;
        margin: 0;
        padding-left: 0.05em;
        position: relative;
        text-transform: uppercase;
      }
    }

    //     p {
    //       letter-spacing: 0.1em;
    //       margin: 0;
    //       text-transform: uppercase;

    //       a {
    //         color: inherit;
    //         font-weight: 400;
    //         text-decoration: none;
    //       }
    //     }

    //     footer {
    //       margin: 2em 0 0 0;
    //     }
    //   }
  }
}

/* Main */

#main {
  background-image: url("images/dark-tl.svg"), url("images/dark-tr.svg"), url("images/dark-bl.svg"), url("images/dark-br.svg");
  background-position: top left, top right, bottom left, bottom right;
  background-repeat: no-repeat;
  background-size: $pattern-background-size;
  padding: 7em 0;

  background: white;
  position: relative;

  > :last-child {
    margin-bottom: 0;
  }

  .sidebar {
    section {
      border-top: solid 1px _palette(border);
      margin: 3em 0 0 0;
      padding: 3em 0 0 0;

      &:first-child {
        border-top: 0;
        padding-top: 0;
        margin-top: 0;
      }
    }
  }
}

body.index #main {
  padding-top: 5em;
}

/* CTA */

#cta {
  background-attachment: scroll, scroll, scroll, fixed;
  background-color: _palette(three, bg);
  background-image: url("images/light-tl.svg"), url("images/light-tr.svg"), url("images/overlay.png"), url("../../images/banner.jpg");
  background-position: top left, top right, top left, bottom center;
  background-repeat: no-repeat, no-repeat, repeat, no-repeat;
  background-size: $pattern-background-size, $pattern-background-size, auto, cover;
  color: _palette(three, fg);
  padding: 5em;
  text-align: center;

  header {
    margin-bottom: 2em;
  }
}

/* Footer */

#footer {
  background: #fff;
  color: _palette(footer, fg);
  padding: 5em 5em 10em 5em;
  text-align: center;
  position: relative;

  .copyright {
    font-size: 0.8em;
    line-height: 1em;

    a {
      color: inherit;
    }

    li {
      display: inline-block;
      margin-left: 1em;
      padding-left: 1em;
      border-left: dotted 1px;

      &:first-child {
        margin: 0;
        padding: 0;
        border: 0;
      }
    }
  }
}

/* Wide */

@include breakpoint("<=wide") {
  /* Basic */

  body,
  input,
  select,
  textarea {
    font-size: 14pt;
  }

  /* Section/Article */

  header {
    &.special {
      padding-top: 5.5em;
      margin-bottom: 4em;
    }
  }
}

/* Normal */

@include breakpoint("<=normal") {
  /* Basic */

  body,
  input,
  select,
  textarea {
    font-size: 13pt;
    letter-spacing: 0.025em;
    line-height: 1.65em;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.5em;
  }

  /* Section/Article */

  header {
    &.major {
      padding-bottom: 1.5em;
    }
  }

  footer {
    &.major {
      padding-top: 2em;
    }
  }

  /* Wrapper */

  .wrapper {
    margin-bottom: 4em;
    padding: 4em 3em;

    &.style4 {
      padding: 3em;
    }
  }

  /* Header */

  #header {
    nav {
      ul {
        li {
          margin-left: 1em;
        }
      }
    }
  }

  /* Banner */

  #banner {
    background-attachment: scroll;
  }

  /* CTA */

  #cta {
    padding: 4em;
    background-attachment: scroll;
  }

  /* Footer */

  #footer {
    padding: 4em;
  }
}

/* Narrow */

@include breakpoint("<=narrow") {
  /* Basic */

  body,
  input,
  select,
  textarea {
    font-size: 13pt;
    letter-spacing: 0.025em;
    line-height: 1.5em;
  }

  /* Section/Article */

  header {
    br {
      display: none;
    }

    &.major {
      padding-bottom: 1em;
    }

    &.special {
      padding-left: 2.5em;
      padding-right: 2.5em;
    }
  }

  footer {
    &.major {
      padding-top: 1.5em;
    }
  }

  /* Wrapper */

  .wrapper {
    margin-bottom: 3em;
    padding: 3em 2.5em;

    &.special {
      br {
        display: none;
      }
    }

    &.style1 {
      padding: 0 2.5em;
    }

    &.style4 {
      padding: 2.5em;
    }
  }

  /* Banner */

  /* Main */

  #main {
    background-size: $pattern-background-size;
  }

  /* CTA */

  #cta {
    background-size: $pattern-background-size, $pattern-background-size, auto, cover;
    padding: 3em;
  }
}

/* Narrower */

#navPanel,
#navButton {
  display: none;
}

@include breakpoint("<=narrower") {
  /* Basic */

  html,
  body {
    overflow-x: hidden;
  }

  header {
    &.major {
      padding-bottom: 0.25em;
    }

    &.special {
      margin-bottom: 4em;
      padding-top: 5em;

      &:before,
      &:after {
        width: 40%;
      }

      h2 + p {
        padding-top: 1.25em;
      }
    }
  }

  /* Section/Article */

  section {
    margin: 1em 0 1em 0;

    &:first-child {
      margin-top: 0;
    }
  }

  /* Button */

  input[type="button"],
  input[type="submit"],
  input[type="reset"],
  button,
  .button {
    &.small {
      font-size: 0.8em;
      min-width: 18em;
      padding: 0.75em 0;
    }
  }

  /* Featured Icons */

  ul.featured-icons {
    margin: 0;

    li {
      display: inline-block;
      float: none;
      width: auto;

      .icon {
        font-size: 4em;
        width: 1.25em;
      }
    }
  }

  /* Buttons */

  ul.buttons {
    li {
      display: block;
      padding: 1em 0 0 0;
    }
  }

  /* Header */

  #header {
    display: none;
  }

  /* Banner */

  #banner {
    margin: 0;
  }

  /* Wrapper */

  .wrapper {
    &.special-alt {
      text-align: center;
    }

    &.style4 {
      padding-bottom: 3em;
    }
  }

  /* Main */

  #main {
    padding: 5em 0;

    .sidebar {
      border-top: solid 1px transparentize(_palette(fg), 0.9);
      padding-top: 3em;

      section {
        border-top: 0;
        padding-top: 0;
      }
    }
  }

  body.index #main {
    padding-top: 4.5em;
  }

  /* CTA */

  #cta {
    margin: 0;
  }

  /* Footer */

  #footer {
    padding: 4em 1.5em;
  }

  /* Nav */

  #page-wrapper {
    @include vendor("backface-visibility", "hidden");
    @include vendor("transition", "transform #{_duration(navPanel)} ease");
    padding-bottom: 1px;
  }

  #navButton {
    @include vendor("backface-visibility", "hidden");
    @include vendor("transition", "transform #{_duration(navPanel)} ease");
    display: block;
    height: 60px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: _misc(z-index-base) + 1;

    .toggle {
      @include icon(false, solid);
      height: 60px;
      left: 0;
      position: absolute;
      text-align: center;
      top: 0;
      width: 100%;
      border: 0;
      outline: 0;

      &:before {
        color: _palette(navButton, fg);
        content: "☰";
        font-size: 1.3em;
        height: 40px;
        left: 10px;
        line-height: 40px;
        opacity: 0.5;
        position: absolute;
        top: 11px;
        width: 60px;
        z-index: 1;
      }

      &:after {
        background: _palette(navButton, bg);
        border-radius: 2px;
        content: "";
        height: 40px;
        left: 10px;
        position: absolute;
        top: 10px;
        width: 60px;
      }
    }
  }

  #navPanel {
    @include vendor("backface-visibility", "hidden");
    @include vendor("transform", "translateX(#{_size(navPanel) * -1})");
    @include vendor("transition", ("transform #{_duration(navPanel)} ease"));
    display: block;
    height: 100%;
    left: 0;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: _size(navPanel);
    z-index: _misc(z-index-base) + 2;
    background: _palette(navPanel, bg);
    color: _palette(navPanel, fg);
    font-size: 0.8em;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    padding: 0.25em 0.75em 1em 0.75em;

    .link {
      border: 0;
      border-top: solid 1px transparentize(_palette(navPanel, fg), 0.95);
      color: inherit;
      display: block;
      height: 3em;
      line-height: 3em;
      opacity: 0.75;
      text-decoration: none;

      &.depth-0 {
        font-weight: 900;
      }

      &:first-child {
        border-top: 0;
      }
    }

    .indent-1 {
      display: inline-block;
      width: 1em;
    }
    .indent-2 {
      display: inline-block;
      width: 2em;
    }
    .indent-3 {
      display: inline-block;
      width: 3em;
    }
    .indent-4 {
      display: inline-block;
      width: 4em;
    }
    .indent-5 {
      display: inline-block;
      width: 5em;
    }
  }

  body {
    &.navPanel-visible {
      #page-wrapper {
        @include vendor("transform", "translateX(#{_size(navPanel)})");
      }

      #navButton {
        @include vendor("transform", "translateX(#{_size(navPanel)})");
      }

      #navPanel {
        @include vendor("transform", "translateX(0)");
      }
    }
  }
}

/* Mobile */

@include breakpoint("<=mobile") {
  $pattern-background-size: 10em;

  /* Basic */

  body {
    min-width: 320px;
  }

  h2 {
    font-size: 1.25em;
    letter-spacing: 0.1em;
  }

  h3 {
    font-size: 1em;
    letter-spacing: 0.025em;
  }

  p {
    text-align: justify;
  }

  /* Section/Article */

  header {
    text-align: center;

    &.major {
      padding-bottom: 0;
    }

    &.special {
      margin-bottom: 3em;
      padding-left: 1.5em;
      padding-right: 1.5em;

      &:before,
      &:after {
        width: 38%;
      }

      .icon {
        font-size: 0.75em;
        top: 1.5em;
      }
    }

    p {
      text-align: center;
    }
  }

  footer {
    &.major {
      padding-top: 0;
    }
  }

  /* Icon */

  .icon {
    &.circle {
      font-size: 1em;
    }
  }

  /* Button */

  input[type="button"],
  input[type="submit"],
  input[type="reset"],
  button,
  .button {
    max-width: 20em;
    width: 100%;

    &.fit {
      width: auto;
    }
  }

  /* Icons */

  ul.icons {
    li {
      padding-left: 0.25em;
    }
  }

  /* Featured Icons */

  ul.featured-icons {
    li {
      .icon {
        width: 1.1em;
      }
    }
  }

  /* Buttons */

  ul.buttons {
    text-align: center;
  }

  /* Wrapper */

  .wrapper {
    margin-bottom: 2.5em;
    padding: 2.25em 1.5em;

    &.special {
      br {
        display: none;
      }
    }

    &.style1 {
      padding: 0 1.5em;
    }

    &.style4 {
      background-size: $pattern-background-size;
      padding: 1.5em 1.5em 3em 1.5em;
    }
  }

  /* Banner */

  #banner {
    padding: 6em 0;

    .inner {
      // background: none;
      // display: block;
      padding: 0 1.5em;

      header {
        h2 {
          font-size: 1.5em;
        }
      }

      p {
        text-align: center;
      }

      br {
        display: none;
      }
    }
  }

  /* Main */

  #main {
    background-size: $pattern-background-size;
    padding: 3.5em 0 2.5em 0;
  }

  body.index #main {
    padding: 2.5em 0 0 0;
  }

  body.contact #main {
    padding-bottom: 0;
  }

  /* CTA */

  #cta {
    background-size: $pattern-background-size, $pattern-background-size, auto, cover;
    padding: 3em 1.5em;
  }

  /* Footer */

  #footer {
    padding: 3em 1.5em;

    .copyright {
      li {
        display: block;
        margin: 1em 0 0 0;
        padding: 0;
        border: 0;
      }
    }
  }

  /* Nav */

  #navButton {
    .toggle {
      &:before {
        top: 8px;
        left: 8px;
        width: 50px;
        height: 34px;
        line-height: 34px;
      }

      &:after {
        top: 8px;
        left: 8px;
        width: 50px;
        height: 34px;
      }
    }
  }
}

.fade-in-scroll {
  opacity: 0;

  &.in {
    opacity: 1;
    transition: 1.3s ease-in;
  }
}

/*
 * CSS Fadeshow by @alexerlandsson
 * This is a fadeshow built in CSS and with customization in focus.
 * Supports quick navigation, prev/next navigation and autoplay.
 *
 * For better documentation and implementation guide, check out the GitHub repository:
 * https://github.com/alexerlandsson/css-fadeshow
*/

/*
 * ===== VARIABLES =====
 *
 * Change these variables to match your preferences. For a more detailed
 * description of what each variable do, visit https://github.com/alexerlandsson/css-fadeshow
 */

$max-slides: 5;
$prefix: true;
$responsive: true;
$breakpoint-small: 500px;
$fade-time: 1;
$prev-next-fontfamily: sans-serif;
$prev-next-icon-size: 3vw;
$prev-next-icon-color: rgba(255, 255, 255, 0.5);
$prev-next-bg: rgba(255, 255, 255, 0);
$prev-next-bg-hover: rgba(255, 255, 255, 0.1);
$prev-icon: "❮";
$next-icon: "❯";
$autohide-next-prev: true;
$quick-nav-color: rgba(255, 255, 255, 0.8);
$quick-nav-active-color: coral;
$fade-color: #fff;
$autoplay: true;
$autoplay-duration: 5;

/*
	* ===== MIXINS =====
	*
	* This section contains mixin used
	* Do not change anything here unless you know what you are doing.
	*/

/* Mixins to handle prefixes */

@mixin fadeshow-transition($value...) {
  @if length($value) < 1 {
    $value: all 150ms linear;
  }
  @if $prefix == true {
    -webkit-transition: $value;
  }
  transition: $value;
}

@mixin fadeshow-transform($value...) {
  @if length($value) < 1 {
    $value: all 150ms linear;
  }
  @if $prefix == true {
    -webkit-transform: $value;
    -ms-transform: $value;
  }
  transform: $value;
}

@mixin fadeshow-animation($value...) {
  @if $prefix == true {
    -webkit-animation: $value;
  }
  animation: $value;
}

@mixin fadeshow-animation-delay($value) {
  @if $prefix == true {
    -webkit-animation-delay: $value;
  }
  animation-delay: $value;
}

@mixin fadeshow-unselectable() {
  @if $prefix == true {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  user-select: none;
}

/* Mixins to handle Quick Navigation Button states */

@mixin quickNavBtnActive() {
  background-color: $quick-nav-active-color;
}

@mixin quickNavBtnInactive() {
  background-color: $quick-nav-color;
}

/*
	* ===== FADESHOW =====
	*
	* Base functionality for the fadeshow.
	* Do not change anything here unless you know what you are doing.
	*/

[data-am-fadeshow] {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: $fade-color;

  /* Slides */
  .fs-slide {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @include fadeshow-transition(opacity #{$fade-time}s ease);

    /* Display first child on load */
    &:first-child {
      opacity: 1;
    }
  }

  /* Quick Navigation */
  .fs-quick-nav {
    position: absolute;
    bottom: 15px;
    left: 50%;
    z-index: 1;
    @include fadeshow-unselectable();
    @include fadeshow-transform(translateX(-50%));
  }

  .fs-quick-btn {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 2px;
    border-radius: 50%;
    cursor: pointer;
    @include fadeshow-transition(opacity 200ms ease);
    @include quickNavBtnInactive();

    &:hover {
      opacity: 0.8;
    }

    /* Set active state to first button on load */
    &:first-child {
      @include quickNavBtnActive();
    }
  }

  /* Prev/Next Navigation */
  %prev-next {
    position: absolute;
    display: none;
    top: 0;
    bottom: 0;
    width: 100px;
    cursor: pointer;
    font-family: $prev-next-fontfamily;
    background-color: $prev-next-bg;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    @include fadeshow-transition(all 200ms ease);

    @if $responsive == true {
      @media (max-width: $breakpoint-small) {
        width: 50%;
      }
    }

    &:before {
      position: absolute;
      top: 50%;
      font-size: $prev-next-icon-size;
      color: $prev-next-icon-color;
    }

    &:hover {
      background-color: $prev-next-bg-hover;
      @if $responsive == true {
        @media (max-width: $breakpoint-small) {
          background-color: rgba(255, 255, 255, 0);
        }
      }
    }
  }

  .fs-prev-btn {
    @extend %prev-next;
    left: 0;

    &:before {
      content: "#{$prev-icon}";
      left: 50%;
      @include fadeshow-transform(translate(-50%, -50%));
      @if $responsive == true {
        @media (max-width: $breakpoint-small) {
          left: 30px;
        }
      }
    }

    @if $autohide-next-prev == true {
      @include fadeshow-transform(translateX(-100%));
      @if $responsive == true {
        @media (max-width: $breakpoint-small) {
          @include fadeshow-transform(translate(0));
        }
      }
    }
  }

  .fs-next-btn {
    @extend %prev-next;
    right: 0;

    &:before {
      content: "#{$next-icon}";
      right: 50%;
      @include fadeshow-transform(translate(50%, -50%));
      @if $responsive == true {
        @media (max-width: $breakpoint-small) {
          right: 30px;
        }
      }
    }

    @if $autohide-next-prev == true {
      @include fadeshow-transform(translateX(100%));
      @if $responsive == true {
        @media (max-width: $breakpoint-small) {
          @include fadeshow-transform(translate(0));
        }
      }
    }
  }

  /* Base functionality */
  input[type="radio"] {
    position: fixed;
    top: -9999px;

    &:checked {
      /* This loop handles the slide switching and quick navigation active state */
      $i: $max-slides;

      @while $i > 0 {
        &:nth-of-type(#{$i}) {
          /* Show slide */
          ~ .fs-slides {
            .fs-slide {
              //Cancel autoplay
              opacity: 0;
              @include fadeshow-animation(none !important);
            }
            .fs-slide:nth-child(#{$i}) {
              opacity: 1;
            }
          }

          /* Add active state to dot */
          ~ .fs-quick-nav {
            .fs-quick-btn {
              @include quickNavBtnInactive();
              /* Cancel autoplay */
              @include fadeshow-animation(none !important);
            }
            .fs-quick-btn:nth-child(#{$i}) {
              background-color: $quick-nav-active-color;
              &:hover {
                opacity: 1;
              }
            }
          }
        }
        $i: $i - 1;
      }

      /* Hide navigation if only one slide */
      &:first-of-type:last-of-type {
        ~ .fs-quick-nav,
        ~ .fs-prev-nav,
        ~ .fs-next-nav {
          display: none !important;
        }
      }
    }
  }

  /* Autohide Prev/Next Navigation */
  @if $autohide-next-prev == true {
    &:hover {
      .fs-prev-btn,
      .fs-next-btn {
        @include fadeshow-transform(translateX(0));
      }
    }
  }
}

/*
	* ===== PREV/NEXT NAVIGATION =====
	*
	* This section handles the prev/next navigation.
	*/

/* Handle Prev/Next buttons */
[data-am-fadeshow~="next-prev-navigation"] {
  input[type="radio"] {
    &:checked {
      $i: $max-slides;

      @while $i > 0 {
        &:nth-of-type(#{$i}) {
          $prev: ($i - 1);
          $next: ($i + 1);

          /* Show previous button */
          @if $prev > 0 {
            ~ .fs-prev-nav {
              .fs-prev-btn {
                display: none;
              }
              .fs-prev-btn:nth-child(#{$prev}) {
                display: block;
              }
            }
          }

          /* Show next button */
          @if $next < ($max-slides + 1) {
            ~ .fs-next-nav {
              .fs-next-btn {
                display: none;
              }
              .fs-next-btn:nth-child(#{$next}) {
                display: block;
              }
            }
          }

          /* Show last prev button if first slide */
          &:first-of-type {
            ~ .fs-prev-nav {
              .fs-prev-btn:last-child {
                display: block;
              }
            }
          }

          /* Show first next button if last slide */
          &:last-of-type {
            ~ .fs-next-nav {
              .fs-next-btn:first-child {
                display: block;
              }
            }
          }
        }
        $i: $i - 1;
      }
    }
  }

  /* Display first pair of Prev/Next Buttons on load */
  .fs-prev-btn:last-child {
    display: block;
  }

  .fs-next-btn:nth-child(2) {
    display: block;
  }
}

/*
	* ===== AUTOPLAY =====
	*
	* Functions to handle autoplay.
	* If you're not going to use autoplay, set $autoplay to false.
	* This part tends to compile into a lot of uneccesary CSS otherwise.
	*/

@if $autoplay == true {
  $i: $max-slides;

  @while $i > 1 {
    $total-duration: $autoplay-duration * $i;

    @keyframes quickNavAnimation-#{$i} {
      0% {
        @include quickNavBtnInactive();
      }
      #{100% * $fade-time / $total-duration},
      #{100% * $autoplay-duration / $total-duration} {
        @include quickNavBtnActive();
      }
      #{100% * ($autoplay-duration + $fade-time) / $total-duration},
      100% {
        @include quickNavBtnInactive();
      }
    }
    @if $prefix == true {
      @-webkit-keyframes quickNavAnimation-#{$i} {
        0% {
          @include quickNavBtnInactive();
        }
        #{100% * $fade-time / $total-duration},
        #{100% * $autoplay-duration / $total-duration} {
          @include quickNavBtnActive();
        }
        #{100% * ($autoplay-duration + $fade-time) / $total-duration},
        100% {
          @include quickNavBtnInactive();
        }
      }
    }

    @keyframes slidesAnimation-#{$i} {
      0% {
        opacity: 0;
      }
      #{100% * $fade-time / $total-duration},
      #{100% * $autoplay-duration / $total-duration} {
        opacity: 1;
      }
      #{100% * ($autoplay-duration + $fade-time) / $total-duration},
      100% {
        opacity: 0;
      }
    }
    @if $prefix == true {
      @-webkit-keyframes slidesAnimation-#{$i} {
        0% {
          opacity: 0;
        }
        #{100% * $fade-time / $total-duration},
        #{100% * $autoplay-duration / $total-duration} {
          opacity: 1;
        }
        #{100% * ($autoplay-duration + $fade-time) / $total-duration},
        100% {
          opacity: 0;
        }
      }
    }

    [data-am-fadeshow~="autoplay"] {
      input[type="radio"]:nth-of-type(#{$i}):last-of-type {
        /* Slide animation */
        ~ .fs-slides {
          .fs-slide {
            @include fadeshow-animation(slidesAnimation-#{$i} #{$total-duration}s infinite);
          }
        }

        /* Quick navigation animation */
        ~ .fs-quick-nav {
          .fs-quick-btn {
            @include fadeshow-animation(quickNavAnimation-#{$i} #{$total-duration}s infinite);
          }
        }

        /* Animation Delay */
        @for $j from 1 through $i {
          ~ .fs-slides .fs-slide:nth-child(#{$j}),
          ~ .fs-quick-nav .fs-quick-btn:nth-child(#{$j}) {
            $animation-delay: #{($j - 1) * ($autoplay-duration) - $fade-time}s;
            @include fadeshow-animation-delay(#{$animation-delay});
          }
        }
      }
      $i: $i - 1;
    }
  }
}

/* Base Styling */

body {
  margin: 0;
}

.slideshow-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

// slick slider

.slider {
  max-width: 90vw;
  margin: 0 auto;
}
.slick-slide {
  margin: 0 2vw;
}
.slick-list {
  margin: 0px -5px 0px -5px;
}
button.slick-next,
button.slick-next:hover {
  position: absolute;
  top: 41%;
  right: 54px;
  width: 47px;
  height: 75px;
  background-image: url("http://maggiesadler.com/wp-content/uploads/2015/10/left-right-arrow.png");
  background-size: 95px;
}
button.slick-prev,
button.slick-prev:hover {
  position: absolute;
  top: 41%;
  left: 15px;
  z-index: 1;
  width: 47px;
  height: 75px;
  background-image: url("http://maggiesadler.com/wp-content/uploads/2015/10/left-right-arrow.png");
  background-size: 95px;
  background-position-x: right;
}
.slick-prev:before,
.slick-next:before {
  font-size: 70px;
  color: #ea8496;
  line-height: inherit;
  font-weight: bold;
}
.slider img {
  height: 300px;
}

/* Slick Slider Styles -- Provided by https://kenwheeler.github.io/slick/ */
/* Slider */
.slick-slider {
  position: relative;

  display: block;

  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;

  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;

  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;

  height: auto;

  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list {
  background: #fff url("http://maggiesadler.com/wp-content/uploads/2015/10/ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  font-weight: normal;
  font-style: normal;

  src: url("file:///C:/Users/msadler/Desktop/slick-1.5.7/slick/fonts/slick.eot");
  src: url("file:///C:/Users/msadler/Desktop/slick-1.5.7/slick/fonts/slick.eot?#iefix") format("embedded-opentype"), url("file:///C:/Users/msadler/Desktop/slick-1.5.7/slick/fonts/slick.woff") format("woff"), url("file:///C:/Users/msadler/Desktop/slick-1.5.7/slick/fonts/slick.ttf") format("truetype"), url("file:///C:/Users/msadler/Desktop/slick-1.5.7/slick/fonts/slick.svg#slick") format("svg");
}
/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;

  position: absolute;
  top: 50%;

  display: block;

  width: 20px;
  height: 20px;
  margin-top: -10px;
  padding: 0;

  cursor: pointer;

  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;

  opacity: 0.75;
  color: white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir="rtl"] .slick-prev {
  right: -25px;
  left: auto;
}
.slick-prev:before {
  content: "";
}
[dir="rtl"] .slick-prev:before {
  content: "";
  font-weight: bold;
  font-size: 20px;
}

.slick-next {
  right: -25px;
}
[dir="rtl"] .slick-next {
  right: auto;
  left: -25px;
}
.slick-next:before {
  content: "";
}
[dir="rtl"] .slick-next:before {
  content: "";
}

/* Dots */
.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -45px;

  display: block;

  width: 100%;
  padding: 0;

  list-style: none;

  text-align: center;
}
.slick-dots li {
  position: relative;

  display: inline-block;

  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;

  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;

  display: block;

  width: 20px;
  height: 20px;
  padding: 5px;

  cursor: pointer;

  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;

  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  content: "•";
  text-align: center;

  opacity: 0.25;
  color: black;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: black;
}
